/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
 }
 .navbar{
    background-color: #fff !important;
 }

 .navbar-brand{
    font-size: 1.3rem  !important;
    color: #3442db !important;
    font-weight: bold;
 }

 .navbar a{
    font-size: 1.0rem;
    text-transform: capitalize;
    font-weight: bold;
 }

 .menu_active{
    font-weight: bold;
    border-bottom: 2px solid #875383;
 }

 .navbar a:hover{
    color: #3498db !important;
 }

 @media (max-width: 991px){
    .navbar-brand{
        font-size: 1.5rem !important;
    }

    .menu_active{
        font-weight: bold;
        border-bottom: none;
    }
 }

 

 #header{
   width: 100%;
   height: 80vh;
   margin-top: 70px;
 }
 #header h2{
   margin: 0 0 10px 0;
   font-size: 48px;
   font-weight: 700;
   color: black;
 }
 #header .brand-name{
   color: #3442db;
 }
#header h2{
   color: #484848;
   font-size: 24px;
}
#header .btn-get-started{
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 1px;
   display: inline-block;
   padding: 10px 30px;
   border-radius: 50px;
   transition: 0.5s;
   color: #3442db;
   border: 2px solid #3442db;
   text-decoration: none;
}
#header .btn-get-started:hover{
background: #3442db;
color: white;
}

.header-img{
text-align: right;
/* width: 200px;
height: 200px; */
}
#header .animated{
   animation: up-down 2s ease-in-font  infinite alternate-reverse both;
   width: 200px;
height: 200px;
}
@-webkit-keyframes up-down{
   0%{
      transform: translate(10px);
   }
   100%{
      transform: translate(-10px);
   }
}
@keyframes up-down{
   0%{
      transform: translate(10px);
   }
   100%{
      transform: translate(-10px);
   }
}